@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
  border-radius: 0px 44px 14px 14px;
}

.wrapper {
  margin-left: 48px;
}
.links {
  @apply font-normal;
  color: rgb(49, 49, 148);
}
.activeLink {
  @apply font-semibold;

  border-left: 5px solid rgb(49, 49, 148);
  border-radius: 0 15px 15px 0;
  background-color: #93c5fd;
}
