@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
  border-radius: 0px 44px 14px 14px;
}

.wrapper {
  margin-left: 48px;
}
.links {
  @apply font-normal;
  color: #2a356f;
  border-left: 5px solid transparent;
}
.links:hover,
.activeLink {
  @apply font-semibold;

  border-left: 5px solid #2a356f;
  border-radius: 0 15px 15px 0;
  background-color: #93c5fd;
}

.myBorderLeftBottom {
  border-bottom-left-radius: 44px;
}
